#outer {
  float: left;
  padding: 0px 0px 0px 0px;
  border: 1px solid #000;
  margin: 20px;
  font-size: 14px;
  font-family: arial, sans-serif;
}

#doc-header {
  -webkit-font-smoothing: antialiased;
  color: #000;
  line-height: 1.6em;
  position: relative;
}

#doc-body {
  -webkit-font-smoothing: antialiased;
  color: #000;
  line-height: 1.6em;
  position: relative;
}

#doc-footer {
  -webkit-font-smoothing: antialiased;
  color: #000;
  line-height: 1.6em;
  position: relative;
}

#canvas-outer {
  float: right;
  padding: 0px 0px 0px 0px;
  border: 1px solid #000;
  margin: 20px;
}

#canvas-header {
  margin: 0px 36px 0px 36px;
}

#canvas-body {
  margin: 0px 36px 0px 36px;
}

#canvas-footer {
  margin: 0px 36px 0px 36px;
}